body {
  font-family: 'PT Mono', sans-serif;
  font: 13px 'PT Mono';
  background-color: #262626;
}

text {
  fill: white;

}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.bar {
  fill: #EFEFEF;
  fill-opacity: .9;
}

.bar.active {
  fill: darkRed;
}

.x.axis path {
  display: none;
}

#year-label {
  position: absolute;
  top: 250px;
  right: 350px;
  float: right;
  font-size: 8em;
}

button {
  font-size: 1.6em;
  padding: 5px;
  margin: 30px;
}
