#bar-frame-viz rect {
  fill: #e3e3e3;
  shape-rendering: crispEdges;
}


#bar-frame-viz rect.active.blue {
  fill: steelblue;
}

#bar-frame-viz rect.active.red {
  fill: firebrick;
}

#bar-frame-viz .y.axis text {
  cursor: pointer;
}

#bar-frame-viz text {
  fill: #444;
}