#line-frame-viz rect {
  fill: #5C8100;
  shape-rendering: crispEdges;
}

#line-frame-viz .y.axis line, #frame-viz .y.axis path, #frame-viz .x.axis line {
  fill: none;
  stroke: #555;
}

#line-frame-viz text {
  fill: #444;
}

.line {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: .6px;
}

.lines.selected_linechart .line {
  stroke: #961016;
  stroke-width: 2.4px;
}