#line-frame-viz rect {
  fill: #5C8100;
  shape-rendering: crispEdges;
}

#line-frame-viz .y.axis line, #frame-viz .y.axis path, #frame-viz .x.axis line {
  fill: none;
  stroke: #555;
}

#line-frame-viz text {
  fill: #444;
}

#line-frame-viz .line {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: .6px;
}

#line-frame-viz .lines.selected_linechart path {
  stroke-width: 2.8px;
}

#line-frame-viz .lines.selected_linechart path.blue {
  stroke: steelblue;
}

#line-frame-viz .lines.selected_linechart path.red {
  stroke: firebrick;
}

/*
#line-frame-viz .lines.selected_linechart > .line path {
  stroke: steelblue;
}

#line-frame-viz .lines.selected_linechart > .line ~ .line path {
  stroke: firebrick;
}
*/