
#frame-viz rect {
  fill: #5C8100;
  shape-rendering: crispEdges;
}

#frame-viz rect:hover {
  fill: #E6E4A6;
}

.d3-tip {
  padding: 5px;
  background-color: rgba(250, 250, 250, 0.9);
}

#frame-viz .y.axis line, #frame-viz .y.axis path, #frame-viz .x.axis line {
  fill: none;
  stroke: #555;
}

#frame-viz text {
  fill: #555;
}