body {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  /*background-color: #262626;
  background-color: #646c7f;*/
  background-color: #4c5361;
}

div.h div {
  float: left;
  clear: none;
}

svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 13px/54px "pt mono";
  letter-spacing: 3px;
}

#info {
  /*text-align: right;
  font-family: 'Lato', sans-serif;*/
  font-family: 'Candal', sans-serif;
  margin: 1 1 0 1em;
  font-size: 10em;
  /*font-weight: 100;*/
  color: #e68125;
}

header {
  color: white;
  text-align: center;

}
header p:first-child {
  font-size: 3.6em;
  text-transform: capitalize;
}
header p:last-child {
  font-size: 1.4em;
}

text {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.bar {
  fill: #EFEFEF;
  /*fill: #ea6e4c;*/
  fill-opacity: .9;
}

.bar.active {
  fill: darkRed;
}

.x.axis path {
  display: none;
}

#year-label {
  position: absolute;
  top: 250px;
  right: 350px;
  float: right;
  font-size: 8em;
}

button {
  font-size: 1.8em;
  padding: 0.3em;
  margin: 0.8em 0 0 1.2em;
  color: #262931;
  font-family: 'Lato', sans-serif;
}

#controls {
  clear:both;
}
