
#tooltip-viz rect {
  fill: #526F75;
  shape-rendering: crispEdges;
}

#tooltip-viz rect:hover {
  fill: #94B4BF;
}

.d3-tip {
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.9);
}

#tooltip-viz .y.axis line, #tooltip-viz .y.axis path, #tooltip-viz .x.axis line {
  fill: none;
  stroke: #555;
}

#tooltip-viz text {
  fill: #555;
}