

#line-viz .y.axis line, #line-viz .y.axis path {
  fill: none;
  stroke: #555;
}

#line-viz .x.axis line {
  fill: none;
  stroke: none;
}

#line-viz text {
  fill: #555;
  font-size: 0.9em;
}

#line-viz .line {
  fill: none;
  stroke: #FF530D;
  stroke-width: 2px;
}

circle.dot {
  fill: #557AD4;
}
circle.dot:hover {
  stroke: #ACB9D4;
  stroke-width: 12px;
}

